<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <style>
      .a{
        background-color: antiquewhite;
        text-align: center;
      }
    </style>
</head>
<body class="a">
<h2 style="color: #FF5733;">LOGIN</h2>

<form action="" method="post">
  {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username"><br><br>
    <input type="password" name="password" placeholder="Enter Password"><br><br>
    <input type="submit">

</form>
{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}
</body>
</html>